*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
}

h1{
    font-size: 32px;
    text-align: center;
    color: rgb(194, 125, 100);
}

a{  
    padding:12px;
    margin: 0 10px;
    background-color: orange;
    color: whitesmoke;
}

img{
    width: 350px;
    margin: 0 auto;
}

nav{
    width: 100%;
    /* margin: auto 0; */
    
}

p{   
    margin : 10px 20px;
    padding : 15px 10px;
    text-align: justify;
    font-size: 18px;
    background-color: antiquewhite;
}

ul,ol{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin : 40px 20px;
}

li{
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

